@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    
}
section{
    width: 1000px;
    height: 500px;
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 70px; 
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

section .imgBx{
    position: relative;
    width: 100%;
    height: 30%; 
}

.content{
    width: 475px;
    display: table;
    float: left;
    box-sizing: border-box;
}

.first-content{
    padding: 10%  23.5px;
    background-color:  #337ab7;
    height: 500px;
    margin-top: 0px;
    margin-left: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #fff;
    box-sizing: border-box;

}
.second-content{
    width: 525px;
    padding: 12% 10%;
}

.logo{
    max-width: 350px;
    margin: 0 36px;
}

.contentBx h2{
    font-size: 28px;
    text-align: center;
    letter-spacing: 1.50px;
    padding-bottom: 10px;
}

.contentBx p{
    text-align: center;
    padding-bottom: 3px;
}

.contentBx a{
    text-decoration: none;

}
.second-p{
    margin-bottom: 6%
}

.btn {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 15px 30px;
    cursor: pointer;
    width: 170px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    letter-spacing: 1.25px;
}

.btn-primary {
    background-color: transparent;
    border: 2px solid #fff;
    transition: background-color .5s;
    margin: 10% 30% 0 30% ;

}

.btn-primary:hover {
    background-color: #fff;
    color: #0b0441;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #d3d8da;
}

.label-input {
    position: relative;
    background-color: #d3d8da;
    display: flex;
    align-items: center;
    margin: 8px;
}

.btn-second {
    background-color: #0b0441;
    border: 1px solid #0b0441;
    transition: background-color .5s;
    margin-top: 5%
}

.btn-second:hover {
    background-color: #fff;
    border: 2px solid #0b0441;
    color: #0b0441;
}

.title-second{
    position: relative;
    color: #f9a635;
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3%;
}

/* MODAL */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(43, 50, 82, 0.8);
    z-index:0;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal > .modal-container {
    width: 450px;
    position: relative;
    margin: 3.74% auto;
    padding: 15px 20px;
    background: #fff;
}

.fechar {
    position: absolute;
    width: 50px;
    right: 0px;
    top: 0;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
}

.imagens{
    text-align: center;
}
.imagens img{
    max-width: 100px;
    margin: 5%;
}

/*estilo para smartphone*/
@media only screen and (max-width: 767px) {
    
}




